.nav {
  height: 75px !important;
  box-shadow: 0px 0px 2px var(--bx-shadow-color);
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: #ffffff;
  padding: 0 20px;
  transition: all 0.4s ease-in-out;
  position: fixed;
}

.logo-link {
  display: flex;
}

.nav_logo {
  max-width: 24px;
  max-height: 24px;
  height: 100%;
  width: 100%;
}

.nav_image {
  width: 154px;
  height: 43px;
}

.divider {
  border: 0.5px solid var(--text-color-grey);
  margin: 0 18px;
}

.nav-hide {
  height: 52px !important;
}

.nav-hide .divider,
.nav-hide .nav_image {
  opacity: 0;
  visibility: hidden;
}

.search {
  width: 30%;
  height: 35px;
  background-color: #fafafa;
  outline: none !important;
  border: solid 1px #dbdbdb;
  border-radius: 3px;
  color: var(--text-color);
  padding: 3px 15px 3px 15px;
}

.search:focus {
  text-align: left;
}

.search::placeholder {
  font-weight: 400;
}

.nav-icon {
  margin-right: 10px;
}

.nav-icon:hover {
  border: 2px solid black;
  border-radius: 10px;
  padding-left: 4px;
}

.nav-me-icon {
  margin-left: 10px;
  border-radius: 50%;
  width: 35px;
  height: 35px;
}

.nav-me-icon:hover {
  border: 2px solid black;
  border-radius: 10px;
  padding: 1px;
}

#nav-me {
  margin-right: 15px;
}

.text-decor-none {
  color: black;
  text-decoration: none;
}

@media (max-width: 550px) {
  .search {
    display: none;
  }
}

@media (max-width: 324px) {
  .nav_image {
    width: 83px;
  }

  .navbar-icon {
    margin-right: 10px;
  }
}
