@import url("https://fonts.googleapis.com/css?family=Muli&display=swap");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: linear-gradient(to right, #31a5b4, #cd56c3);

  font-family: "Open Sans", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
}

.container {
  position: relative;
  top: 0px;
  left: 0px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  max-width: 100%;
}

header,
footer {
  text-align: center;
  /* background-color: #f7f7f7; */
  line-height: 1.6;
}
header {
  padding: 15px 30px;
  border-bottom: 1px solid #f0f0f0;
  font-size: larger;
}
footer {
  border-top: 1px solid #f0f0f0;
  font-size: small;
  padding: 10px 20px;

  line-height: 1.6;
}
.main-container {
  position: relative;
  display: flex;
  width: 1200px;
  height: 650px;
}
#cover-pic {
  width: 1200px;
}
.form-container {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  left: 60px;
  background-color: white;
  width: 400px;
  z-index: 100;
  border-radius: 10px;
}

.form {
  padding: 10px 40px;
  padding-bottom: 15px;
}

.form-group {
  margin-bottom: 10px;
  padding-bottom: 20px;
  position: relative;
}

.form-group label {
  display: inline-block;
  margin-bottom: 5px;
  font-weight: bold;
}

.form-group input {
  border: 2px solid #f0f0f0;
  border-radius: 4px;
  display: block;
  /* font-family: inherit; */
  font-size: 12px;
  padding: 10px;
  width: 100%;
}

.form-group input:focus {
  outline: 0;
  border-color: #777;
}

.form-group.success input {
  border-color: #2ecc71;
}

.form-group.error input {
  border-color: #e74c3c;
}

.form-group i {
  visibility: hidden;
  position: absolute;
}
.fa-check-circle {
  top: 40px;
  right: 10px;
}
.fa-exclamation-circle {
  bottom: 4px;
  /* right: 10px; */
  font-size: 10px;
}

.form-group.success i.fa-check-circle {
  color: #2ecc71;
  visibility: visible;
}

.form-group.error i.fa-exclamation-circle {
  color: #e74c3c;
  visibility: visible;
}

.form-group small {
  color: #e74c3c;
  position: absolute;
  bottom: 0;
  left: 15px;
  visibility: hidden;
}

.form-group.error small {
  visibility: visible;
}

input[type="submit"] {
  color: rgb(0, 75, 129);
  border: none;
  border-image-slice: 1;
  background-image: linear-gradient(to right, #1dcdc2, #dc52bf);
  border-radius: 4px;
  color: #28145f;
  font-weight: bold;
  display: block;
  font-family: inherit;
  font-size: 16px;
  padding: 10px;
  margin-top: 20px;
  margin-bottom: 25px;
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
input[type="submit"]:hover {
  box-shadow: rgba(240, 46, 170, 0.4) 5px 5px, rgba(240, 46, 170, 0.3) 10px 10px,
    rgba(240, 46, 170, 0.2) 15px 15px, rgba(240, 46, 170, 0.1) 20px 20px,
    rgba(240, 46, 170, 0.05) 25px 25px;

  cursor: pointer;
}

i.fa-exclamation-circle:hover .errorInfo {
  visibility: visible;
}
.errorInfo {
  visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  transform: translate(20px, 5px);
  inline-size: 250px;
  font-family: "Courier New", Courier, monospace;
  color: black;
  font-size: 12px;
  border-radius: 6px;
  padding: 10px;
  background-color: #f0f0f0;
  text-align: justify;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  word-break: break-all;
}
a {
  color: blue;
}
a:visited {
  color: blue;
}

#form-signup {
  display: grid;
  grid-template-columns: auto auto;
  column-gap: 20px;
}
.signup-container {
  width: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#input-sex {
  display: flex;
  flex-direction: row;
}

#input-sex > input {
  width: 1.5em;
  height: 1.5em;
  margin-top: 10px;
  margin-left: 10px;
}

#input-sex > label {
  font-weight: normal;
  font-size: small;
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 30px;
}

#signup-btn {
  grid-column: 1/-1;
  margin: 10px auto;
}
