<div class="modal-new-post">
   <div class="modal fade" id="modalNewPost" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg modal-dialog-centered">
         <div class="modal-content">
            <div class="modal-header position-relative d-flex" style="color: black">
               <h1 class="modal-title fs-5 text-center" style="flex: 1" id="exampleModalLabel">
                  New post
               </h1>
               <button type="button" class="hover-icon py-1 px-3 position-absolute" style="top: 15%"
                  data-bs-dismiss="modal" aria-label="Close">
                  <i class="fa-solid fa-xmark"></i>
               </button>
            </div>
            <div class="modal-body px-2">
               <form class="d-flex justify-content-between gap-1">
                  <div class="w-50 input-wrap position-relative">
                     <div class="d-flex align-items-center justify-content-center">
                        <!-- <img src="./images/new.jpg" alt="" /> -->
                        <span class="m-0">Select images...</span>
                     </div>
                     <input type="file" class="input-file d-none" />
                  </div>
                  <div class="d-flex flex-column justify-content-around w-50 px-4">
                     <div class="">
                        <textarea class="form-control" id="message-text"
                           placeholder="What are you thinking?"></textarea>
                     </div>
                  </div>
               </form>
            </div>
            <div class="modal-footer">
               <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                  Close
               </button>
               <button type="button" class="btn btn-primary">Post</button>
            </div>
         </div>
      </div>
   </div>
</div>