<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8" />
   <meta http-equiv="X-UA-Compatible" content="IE=edge" />
   <meta name="viewport" content="width=device-width, initial-scale=1.0" />
   <link href="../build/fontawesome-free-6.2.1-web/css/all.min.css" rel="stylesheet" />
   <link rel="stylesheet" href="../build/bootstrap-5.2.3-dist/css/bootstrap.min.css" />
   <link rel="stylesheet" href="../public/sass/css/styleFeed.css" />
   <link rel="stylesheet" href="../public/sass/css/styleReport.css" />
   <link rel="stylesheet" href="../public/sass/css/styleProfile.css" />
   <link rel="website icon" type="png" href="../public/image/logo1.png" />
   <title>BookBook</title>
</head>

<body>
   <div class="base-layout position-relative d-flex justify-content-center w-100 h-100" id="idOfReport">
      <div class="modal-wrap">
         <div class="modal fade" id="exampleModal" tabindex="-1" data-bs-keyboard="false"
            aria-labelledby="exampleModalLabel" aria-hidden="true">
            <button type="button" class="btn-close position-absolute d-flex align-items-center" data-bs-dismiss="modal"
               aria-label="Close">
               <i class="fa-solid fa-xmark"></i>
            </button>
            <div class="modal-dialog modal-fullscreen-md-down modal-dialog-centered modal-container">
               <div class="modal-content flex-row m-0 bg-black">
                  <div class="w-75 position-relative">
                     <div class="modal-body h-100">

                     </div>
                  </div>
                  <div class="modal-post w-25 position-relative">
                     <div class="post-container overflow-auto pt-3 px-2">
                        <div class="container-contents d-flex flex-column">
                           <div
                              class="contents-header d-flex gap-3 align-items-center justify-content-between pt-2 pb-2 px-1 pe-1">
                              <div class="header-img">
                                 <img src="${data_images.avatar}" alt="" />
                              </div>
                              <div class="header-name d-flex flex-column">
                                 <span>${data_images.user}</span>
                                 <span class="fst-italic fw-lighter">${data_images.id_user}</span>
                              </div>
                              <div class="header-setting hover-icon" data-bs-toggle="dropdown" aria-expanded="false">
                                 <i class="fa-solid fa-ellipsis"></i>
                              </div>
                              <ul class="dropdown-menu">
                                 <li class="d-flex align-items-center px-2 hover-icon">
                                    <i class="fa-solid fa-circle-exclamation px-2"></i><span
                                       class="dropdown-item px-0">Report</span>
                                 </li>
                                 <li class="d-flex align-items-center px-2 hover-icon btn-delete">
                                    <i class="fa-regular fa-trash-can px-2"></i>
                                    <spam class="dropdown-item px-0">Delete</spam>
                                 </li>
                              </ul>
                           </div>
                           <div class="contents-body mb-3">
                              <!--  -->
                           </div>
                           <div class="contents-footer pt-1 pb-1 d-flex justify-content-between gap-2 mb-4">
                              <div class="d-flex justify-content-center align-items-center gap-3 pt-2 pb-2">
                                 <i class="fa-regular fa-thumbs-up"></i>
                                 <span>Like</span>
                              </div>
                              <div class="d-flex justify-content-center align-items-center gap-3 pt-2 pb-2">
                                 <i class="fa-regular fa-message"></i> Comments
                              </div>
                           </div>
                           <div class="contents-comments">
                              <!--  -->
                           </div>
                        </div>
                     </div>
                     <div class="input-comment position-absolute bottom-0 w-100">
                        <div class="pt-2 pb-2 px-3 d-flex justify-content-between gap-2">
                           <input type="text" class="form-control" id="inputComment" placeholder="New comments..." />
                           <div class="hover-icon d-flex justify-content-between">
                              <i
                                 class="fa-solid fa-paper-plane px-3 d-flex align-items-center justify-content-center"></i>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <div class="header position-fixed top-0 w-100">
         <div class="header-container d-flex justify-content-between">
            <div class="header-left col-3 d-flex justify-content-center">
               <div class="left-logo">
                  <img src="../public/image/logo1.png" alt="" />
                  <span>
                     <h5 class="fw-bold">BOOKBOOK</h5>
                  </span>
               </div>
            </div>
            <div class="header-center d-flex gap-3 justify-content-center align-items-center w-100">
               <ul class="nav justify-content-center m-0 p-0 w-100 gap-4">
                  <li class="nav-item hover-icon active">
                     <a class="nav-link " aria-current="page" href="#"><i class="fa-solid fa-house"></i></a>
                  </li>
                  <li class="nav-item hover-icon">
                     <a class="nav-link" href="#"><i class="fa-solid fa-magnifying-glass"></i></a>
                  </li>
                  <li class="nav-item hover-icon">
                     <a class="nav-link" href="#"><i class="fa-solid fa-users-line"></i></a>
                  </li>
                  <li class="nav-item hover-icon">
                     <a class="nav-link" href="#"><i class="fa-solid fa-store"></i></a>
                  </li>

                  <!-- <li class="nav-item hover-icon">
                                 <a class="nav-link"><i class="fa-regular fa-heart"></i></a>
                              </li> -->
               </ul>
            </div>
            <div class="header-right d-flex justify-content-center align-items-center gap-2">
               <i class="fa-solid fa-bell"></i>
               <div class="right-message p-2 px-3 hover-icon" data-bs-toggle="dropdown" aria-expanded="false">

                  <i class="fa-regular fa-comment"></i>
               </div>
               <ul class="dropdown-menu w-25">
                  <span class="text-center">
                     <h3><b>Chat</b></h3>
                  </span>
                  <li class="dropdown-item">
                     <div class="user-chat d-flex flex-row justify-content-between gap-2 p-2">
                        <div class="img-user">
                           <img src="../public/image/new.jpg" alt="" />
                        </div>
                        <div class="chat-text">
                           <span><b>Tuan</b></span>
                           <span>
                              <p class="m-0">Dang lam gi day.</p>
                           </span>
                        </div>
                     </div>
                  </li>
                  <li class="dropdown-item">
                     <div class="user-chat d-flex flex-row justify-content-between gap-2 p-2">
                        <div class="img-user">
                           <img src="../public/image/new.jpg" alt="" />
                        </div>
                        <div class="chat-text">
                           <span><b>Tuan</b></span>
                           <span>
                              <p class="m-0">Dang lam gi day.</p>
                           </span>
                        </div>
                     </div>
                  </li>
                  <li class="dropdown-item">
                     <div class="user-chat d-flex flex-row justify-content-between gap-2 p-2">
                        <div class="img-user">
                           <img src="../public/image/new.jpg" alt="" />
                        </div>
                        <div class="chat-text">
                           <span><b>Tuan</b></span>
                           <span>
                              <p class="m-0">Dang lam gi day.</p>
                           </span>
                        </div>
                     </div>
                  </li>
               </ul>
               <div class="right-user" data-bs-toggle="dropdown" aria-expanded="false">
                  <img src="../public/image/nguyen.png" alt="" />
               </div>

               <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="#"><i class="fa-solid fa-wrench"></i> Change password</a></li>
                  <li>
                     <hr class="dropdown-divider" />
                  </li>
                  <li><a class="dropdown-item " href="#"><i class="fa-solid fa-arrow-right-from-bracket"></i>
                        Logout</a></li>
               </ul>
            </div>
         </div>
      </div>
      <div class="content w-100 d-flex gap-0 h-auto pb-4 gap-3">
         <div class="col-3 rounded-bottom overflow-hidden pb-3 nav-container">
            <div class="left-nav">
               <ul
                  class="nav h-100 d-flex flex-column align-items-center justify-content-start py-3 px-3 gap-3 ul-wrap">
                  <li class="nav-item-left hover-icon">
                     <a class="nav-link d-flex gap-3 align-items-center" :class="{active: reportposts==1}"
                        @click="reportposts=1">
                        <i class="fa-solid fa-clipboard-user"></i>
                        <span>Report Post</span></a>
                  </li>
                  <li class="nav-item-left hover-icon">
                     <a class="nav-link d-flex gap-3 align-items-center" :class="{active: reportposts==2}"
                        @click="reportposts=2">
                        <i class="fa-solid fa-user-tag"></i>
                        <span>Report User</span></a>
                  </li>

                  <div class="small position-absolute " style="bottom:10px">copy right &copy; group 22</div>

               </ul>

            </div>

         </div>
         <div>
            <!--Những cái reports-->
            <!--reports của post-->
            <template v-if="reportposts==1">
               <div id="report">
                  <div class="images" data-bs-toggle="modal" data-bs-target="#exampleModal" id="1"><a href="#">ID post:
                        00000001</a></div>
                  <div><button @click="SkipPost()" class=" button-33-skip">Skip</button></div>
                  <div><button @click="DeletePost()" class="button-33-delete">Delete</button></div>
                  <div class="images" data-bs-toggle="modal" data-bs-target="#exampleModal" id="1"><a href="#">ID post:
                        00000001</a></div>
                  <div><button @click="SkipPost()" class=" button-33-skip">Skip</button></div>
                  <div><button @click="DeletePost()" class="button-33-delete">Delete</button></div>
                  <div class="images" data-bs-toggle="modal" data-bs-target="#exampleModal" id="1"><a href="#">ID post:
                        00000001</a></div>
                  <div><button @click="SkipPost()" class=" button-33-skip">Skip</button></div>
                  <div><button @click="DeletePost()" class="button-33-delete">Delete</button></div>
                  <div class="images" data-bs-toggle="modal" data-bs-target="#exampleModal" id="1"><a href="#">ID post:
                        00000001</a></div>
                  <div><button @click="SkipPost()" class=" button-33-skip">Skip</button></div>
                  <div><button @click="DeletePost()" class="button-33-delete">Delete</button></div>
                  <div class="images" data-bs-toggle="modal" data-bs-target="#exampleModal" id="1"><a href="#">ID post:
                        00000001</a></div>
                  <div><button @click="SkipPost()" class=" button-33-skip">Skip</button></div>
                  <div><button @click="DeletePost()" class="button-33-delete">Delete</button></div>
                  <!-- Tu day -->
                  <!-- Den day -->
               </div>
            </template>
            <template v-if="reportposts==2">
               <div id="report">
                  <div>
                     <img class="report-img" src="../public/image/new.jpg" />
                     <a href="#">Đắc Khoa</a>
                  </div>
                  <div><button @click="SkipUser()" class=" button-33-skip">Skip</button></div>
                  <div><button @click="DeleteUser()" class="button-33-delete">Delete</button></div>
                  <div>
                     <img class="report-img" src="../public/image/new.jpg" />
                     <a href="#">Giá Như</a>
                  </div>
                  <div><button @click="SkipUser()" class=" button-33-skip">Skip</button></div>
                  <div><button @click="DeleteUser()" class="button-33-delete">Delete</button></div>
                  <div>
                     <img class="report-img" src="../public/image/new.jpg" />
                     <a href="#">Công Văn</a>
                  </div>
                  <div><button @click="SkipUser()" class=" button-33-skip">Skip</button></div>
                  <div><button @click="DeleteUser()" class="button-33-delete">Delete</button></div>
                  <div>
                     <img class="report-img" src="../public/image/new.jpg" />
                     <a href="#">Lợi Lạc</a>
                  </div>
                  <div><button @click="SkipUser()" class=" button-33-skip">Skip</button></div>
                  <div><button @click="DeleteUser()" class="button-33-delete">Delete</button></div>
                  <div>
                     <img class="report-img" src="../public/image/new.jpg" />
                     <a href="#">Lê Văn Hưu</a>
                  </div>
                  <div><button @click="SkipUser()" class=" button-33-skip">Skip</button></div>
                  <div><button @click="DeleteUser()" class="button-33-delete">Delete</button></div>
               </div>
            </template>

            <div class="feed-posts d-flex flex-column gap-3 pb-3">

            </div>
         </div>
      </div>
   </div>
</body>
<script type="module" src="../build/bootstrap-5.2.3-dist/js/bootstrap.bundle.min.js"></script>
<script type="module" src="../js/report/vue.js"></script>
<script type="module" src="../js/report/report.js"></script>
<script type="module" src="../js/report/profilerp.js"></script>

</html>