<!--Section Content-->
    <section class="container container-top">
      <div class="edit-wrapper">
        <div class="menus-wrapper">
          <ul class="menus">
            <li class="menu-item">
              <a href="./edit_profile.html" class="menu-link">Edit Profile</a>
            </li>
            <li class="menu-item">
              <a href="./password.html" class="menu-link active"
                >Change password</a
              >
            </li>
          </ul>
        </div>
        <div class="edit-form-wrapper">
          <div class="edit-profile-section">
            <div class="edit-width">
              <img
                class="edit-profile-picture"
                src="./assets/img/img.png"
              />
            </div>
            <div>
              <h1 class="edit-profile-username">DacKhoa</h1>
            </div>
          </div>
          <form>
            <div class="edit-section">
              <div class="edit-width">
                <label for="oldPassword" class="form-label">Old Password</label>
              </div>
              <div>
                <input
                  class="form-input"
                  type="password"
                  name="oldPassword"
                  id="oldPassword"
                />
              </div>
            </div>
            <div class="edit-section">
              <div class="edit-width">
                <label for="newPassword" class="form-label">New Password</label>
              </div>
              <div>
                <input
                  class="form-input"
                  type="password"
                  name="newPassword"
                  id="newPassword"
                />
              </div>
            </div>
            <div class="edit-section">
              <div class="edit-width">
                <label for="cNewPassword" class="form-label"
                  >Confirm New Password</label
                >
              </div>
              <div>
                <input
                  class="form-input"
                  type="password"
                  name="cNewPassword"
                  id="cNewPassword"
                />
              </div>
            </div>
            <div class="edit-section">
              <div class="edit-width"></div>
              <div>
                <button class="form-btn">Change Password</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </section>
