<link rel="stylesheet" href="./css/bootstrap.min.css" />
<link rel="stylesheet" href="./css/general.css" />
<link rel="stylesheet" href="./css/navbar.css" />
<link rel="stylesheet" href="./css/userscontent.css" />
<link rel="stylesheet" href="./css/comments.css" />

<!--Section Content-->
  <section class="container container-top">
    <section class="comments-section">
      <!--hinh anh bai viet-->
      <section class="comments-content-wrapper">
        <img class="comments-content" src="./assets/img/cat1.png" />
      </section>

      <!--Tên các thứ-->
      <section class="comments-wrapper">
        <header class="comments-header">
          <div class="post-image-wrapper">
            <img class="post-image" src="./assets/img/img.png" />
          </div>
          <a href="#" class="post-owner-name">DacKhoa</a>
          <img class="verified" src="./assets/img/verified.png" />
          <span class="dot"></span>
          <button class="follow-btn">Follow</button>

          <!--dấu ba chấm :))) -->
          <svg aria-label="More options" class="_8-yf5 " fill="#262626" height="16" viewBox="0 0 48 48" width="16">
            <circle clip-rule="evenodd" cx="8" cy="24" fill-rule="evenodd" r="4.5"></circle>
            <circle clip-rule="evenodd" cx="24" cy="24" fill-rule="evenodd" r="4.5"></circle>
            <circle clip-rule="evenodd" cx="40" cy="24" fill-rule="evenodd" r="4.5"></circle>
          </svg>
        </header>



        <!--cmt của tác giả-->
        <div class="comments">
          <div class="post-comment-description">
            <div class="post-image-wrapper">
              <img class="post-image" src="./assets/img/img.png" />
            </div>
            <div class="post-comment-description-message">
              <span class="post-comment-author">DacKhoa</span> mấy con mồn lèo có sẵn trong máy, tạm thời t để mấy cái
              chay vô rồi sau này tính sau
            </div>
          </div>

          <!--cmt của người xem-->
          <div class="post-comments__comment">
            <div class="post-image-wrapper">
              <img class="post-image" src="./assets/img/cat1.png" />
            </div>
            <div class="post-comment-description-message">
              <span><span class="post-comment-author">GiaVuong</span> Nice
                cat, you got it</span>
            </div>
            <svg aria-label="Activity Feed" class="post-comment__like" fill="#262626" height="24" viewBox="0 0 48 48"
              width="24">
              <path clip-rule="evenodd"
                d="M34.3 3.5C27.2 3.5 24 8.8 24 8.8s-3.2-5.3-10.3-5.3C6.4 3.5.5 9.9.5 17.8s6.1 12.4 12.2 17.8c9.2 8.2 9.8 8.9 11.3 8.9s2.1-.7 11.3-8.9c6.2-5.5 12.2-10 12.2-17.8 0-7.9-5.9-14.3-13.2-14.3zm-1 29.8c-5.4 4.8-8.3 7.5-9.3 8.1-1-.7-4.6-3.9-9.3-8.1-5.5-4.9-11.2-9-11.2-15.6 0-6.2 4.6-11.3 10.2-11.3 4.1 0 6.3 2 7.9 4.2 3.6 5.1 1.2 5.1 4.8 0 1.6-2.2 3.8-4.2 7.9-4.2 5.6 0 10.2 5.1 10.2 11.3 0 6.7-5.7 10.8-11.2 15.6z"
                fill-rule="evenodd"></path>
            </svg>
          </div>


          <div class="post-comments__comment">
            <div class="post-image-wrapper">
              <img class="post-image" src="./assets/img/cat2.png" />
            </div>
            <div class="post-comment-description-message">
              <span><span class="post-comment-author">Dog</span> Nice
                cat, you got it</span>
            </div>
            <svg aria-label="Activity Feed" class="post-comment__like" fill="#262626" height="24" viewBox="0 0 48 48"
              width="24">
              <path clip-rule="evenodd"
                d="M34.3 3.5C27.2 3.5 24 8.8 24 8.8s-3.2-5.3-10.3-5.3C6.4 3.5.5 9.9.5 17.8s6.1 12.4 12.2 17.8c9.2 8.2 9.8 8.9 11.3 8.9s2.1-.7 11.3-8.9c6.2-5.5 12.2-10 12.2-17.8 0-7.9-5.9-14.3-13.2-14.3zm-1 29.8c-5.4 4.8-8.3 7.5-9.3 8.1-1-.7-4.6-3.9-9.3-8.1-5.5-4.9-11.2-9-11.2-15.6 0-6.2 4.6-11.3 10.2-11.3 4.1 0 6.3 2 7.9 4.2 3.6 5.1 1.2 5.1 4.8 0 1.6-2.2 3.8-4.2 7.9-4.2 5.6 0 10.2 5.1 10.2 11.3 0 6.7-5.7 10.8-11.2 15.6z"
                fill-rule="evenodd"></path>
            </svg>
          </div>


          <div class="post-comments__comment">
            <div class="post-image-wrapper">
              <img class="post-image" src="./assets/img/img.png" />
            </div>
            <div class="post-comment-description-message">
              <span><span class="post-comment-author">DacKhoa</span> Sư thầy nói rất xinh đẹp, tuyệt vời, ngàn like.
                Chúc bình an, vui vẻ và hạnh phúc</span>
            </div>
            <svg aria-label="Activity Feed" class="post-comment__like" fill="#262626" height="24" viewBox="0 0 48 48"
              width="24">
              <path clip-rule="evenodd"
                d="M34.3 3.5C27.2 3.5 24 8.8 24 8.8s-3.2-5.3-10.3-5.3C6.4 3.5.5 9.9.5 17.8s6.1 12.4 12.2 17.8c9.2 8.2 9.8 8.9 11.3 8.9s2.1-.7 11.3-8.9c6.2-5.5 12.2-10 12.2-17.8 0-7.9-5.9-14.3-13.2-14.3zm-1 29.8c-5.4 4.8-8.3 7.5-9.3 8.1-1-.7-4.6-3.9-9.3-8.1-5.5-4.9-11.2-9-11.2-15.6 0-6.2 4.6-11.3 10.2-11.3 4.1 0 6.3 2 7.9 4.2 3.6 5.1 1.2 5.1 4.8 0 1.6-2.2 3.8-4.2 7.9-4.2 5.6 0 10.2 5.1 10.2 11.3 0 6.7-5.7 10.8-11.2 15.6z"
                fill-rule="evenodd"></path>
            </svg>
          </div>



          <div class="post-comments__comment">
            <div class="post-image-wrapper">
              <img class="post-image" src="./assets/img/img.png" />
            </div>
            <div class="post-comment-description-message">
              <span><span class="post-comment-author">DacKhoa</span> Sư thầy nói rất xinh đẹp, tuyệt vời, ngàn like.
                Chúc bình an, vui vẻ và hạnh phúc</span>
            </div>
            <svg aria-label="Activity Feed" class="post-comment__like" fill="#262626" height="24" viewBox="0 0 48 48"
              width="24">
              <path clip-rule="evenodd"
                d="M34.3 3.5C27.2 3.5 24 8.8 24 8.8s-3.2-5.3-10.3-5.3C6.4 3.5.5 9.9.5 17.8s6.1 12.4 12.2 17.8c9.2 8.2 9.8 8.9 11.3 8.9s2.1-.7 11.3-8.9c6.2-5.5 12.2-10 12.2-17.8 0-7.9-5.9-14.3-13.2-14.3zm-1 29.8c-5.4 4.8-8.3 7.5-9.3 8.1-1-.7-4.6-3.9-9.3-8.1-5.5-4.9-11.2-9-11.2-15.6 0-6.2 4.6-11.3 10.2-11.3 4.1 0 6.3 2 7.9 4.2 3.6 5.1 1.2 5.1 4.8 0 1.6-2.2 3.8-4.2 7.9-4.2 5.6 0 10.2 5.1 10.2 11.3 0 6.7-5.7 10.8-11.2 15.6z"
                fill-rule="evenodd"></path>
            </svg>
          </div>



          <div class="post-comments__comment">
            <div class="post-image-wrapper">
              <img class="post-image" src="./assets/img/img.png" />
            </div>
            <div class="post-comment-description-message">
              <span><span class="post-comment-author">DacKhoa</span> Sư thầy nói rất xinh đẹp, tuyệt vời, ngàn like.
                Chúc bình an, vui vẻ và hạnh phúc</span>
            </div>
            <svg aria-label="Activity Feed" class="post-comment__like" fill="#262626" height="24" viewBox="0 0 48 48"
              width="24">
              <path clip-rule="evenodd"
                d="M34.3 3.5C27.2 3.5 24 8.8 24 8.8s-3.2-5.3-10.3-5.3C6.4 3.5.5 9.9.5 17.8s6.1 12.4 12.2 17.8c9.2 8.2 9.8 8.9 11.3 8.9s2.1-.7 11.3-8.9c6.2-5.5 12.2-10 12.2-17.8 0-7.9-5.9-14.3-13.2-14.3zm-1 29.8c-5.4 4.8-8.3 7.5-9.3 8.1-1-.7-4.6-3.9-9.3-8.1-5.5-4.9-11.2-9-11.2-15.6 0-6.2 4.6-11.3 10.2-11.3 4.1 0 6.3 2 7.9 4.2 3.6 5.1 1.2 5.1 4.8 0 1.6-2.2 3.8-4.2 7.9-4.2 5.6 0 10.2 5.1 10.2 11.3 0 6.7-5.7 10.8-11.2 15.6z"
                fill-rule="evenodd"></path>
            </svg>
          </div>


          <div class="post-comments__comment">
            <div class="post-image-wrapper">
              <img class="post-image" src="./assets/img/img.png" />
            </div>
            <div class="post-comment-description-message">
              <span><span class="post-comment-author">DacKhoa</span> Sư thầy nói rất xinh đẹp, tuyệt vời, ngàn like.
                Chúc bình an, vui vẻ và hạnh phúc</span>
            </div>
            <svg aria-label="Activity Feed" class="post-comment__like" fill="#262626" height="24" viewBox="0 0 48 48"
              width="24">
              <path clip-rule="evenodd"
                d="M34.3 3.5C27.2 3.5 24 8.8 24 8.8s-3.2-5.3-10.3-5.3C6.4 3.5.5 9.9.5 17.8s6.1 12.4 12.2 17.8c9.2 8.2 9.8 8.9 11.3 8.9s2.1-.7 11.3-8.9c6.2-5.5 12.2-10 12.2-17.8 0-7.9-5.9-14.3-13.2-14.3zm-1 29.8c-5.4 4.8-8.3 7.5-9.3 8.1-1-.7-4.6-3.9-9.3-8.1-5.5-4.9-11.2-9-11.2-15.6 0-6.2 4.6-11.3 10.2-11.3 4.1 0 6.3 2 7.9 4.2 3.6 5.1 1.2 5.1 4.8 0 1.6-2.2 3.8-4.2 7.9-4.2 5.6 0 10.2 5.1 10.2 11.3 0 6.7-5.7 10.8-11.2 15.6z"
                fill-rule="evenodd"></path>
            </svg>
          </div>



          <div class="post-comments__comment">
            <div class="post-image-wrapper">
              <img class="post-image" src="./assets/img/img.png" />
            </div>
            <div class="post-comment-description-message">
              <span><span class="post-comment-author">DacKhoa</span> Sư thầy nói rất xinh đẹp, tuyệt vời, ngàn like.
                Chúc bình an, vui vẻ và hạnh phúc</span>

            </div>
            <svg aria-label="Activity Feed" class="post-comment__like" fill="#262626" height="24" viewBox="0 0 48 48"
              width="24">
              <path clip-rule="evenodd"
                d="M34.3 3.5C27.2 3.5 24 8.8 24 8.8s-3.2-5.3-10.3-5.3C6.4 3.5.5 9.9.5 17.8s6.1 12.4 12.2 17.8c9.2 8.2 9.8 8.9 11.3 8.9s2.1-.7 11.3-8.9c6.2-5.5 12.2-10 12.2-17.8 0-7.9-5.9-14.3-13.2-14.3zm-1 29.8c-5.4 4.8-8.3 7.5-9.3 8.1-1-.7-4.6-3.9-9.3-8.1-5.5-4.9-11.2-9-11.2-15.6 0-6.2 4.6-11.3 10.2-11.3 4.1 0 6.3 2 7.9 4.2 3.6 5.1 1.2 5.1 4.8 0 1.6-2.2 3.8-4.2 7.9-4.2 5.6 0 10.2 5.1 10.2 11.3 0 6.7-5.7 10.8-11.2 15.6z"
                fill-rule="evenodd"></path>
            </svg>
          </div>
          <div class="post-comments__comment">
            <div class="post-image-wrapper">
              <img class="post-image" src="./assets/img/img.png" />
            </div>
            <div class="post-comment-description-message">
              <span><span class="post-comment-author">DacKhoa</span> Sư thầy nói rất xinh đẹp, tuyệt vời, ngàn like.
                Chúc bình an, vui vẻ và hạnh phúc</span>
            </div>
            <svg aria-label="Activity Feed" class="post-comment__like" fill="#262626" height="24" viewBox="0 0 48 48"
              width="24">
              <path clip-rule="evenodd"
                d="M34.3 3.5C27.2 3.5 24 8.8 24 8.8s-3.2-5.3-10.3-5.3C6.4 3.5.5 9.9.5 17.8s6.1 12.4 12.2 17.8c9.2 8.2 9.8 8.9 11.3 8.9s2.1-.7 11.3-8.9c6.2-5.5 12.2-10 12.2-17.8 0-7.9-5.9-14.3-13.2-14.3zm-1 29.8c-5.4 4.8-8.3 7.5-9.3 8.1-1-.7-4.6-3.9-9.3-8.1-5.5-4.9-11.2-9-11.2-15.6 0-6.2 4.6-11.3 10.2-11.3 4.1 0 6.3 2 7.9 4.2 3.6 5.1 1.2 5.1 4.8 0 1.6-2.2 3.8-4.2 7.9-4.2 5.6 0 10.2 5.1 10.2 11.3 0 6.7-5.7 10.8-11.2 15.6z"
                fill-rule="evenodd"></path>
            </svg>
          </div>
        </div>
        </div>


        <!--comment footer-->
        <section class="comments-footer">
          <section class="post-options-wrapper">
            <svg aria-label="Activity Feed" class="mr-4" fill="#262626" height="24" viewBox="0 0 48 48" width="24">
              <path clip-rule="evenodd"
                d="M34.3 3.5C27.2 3.5 24 8.8 24 8.8s-3.2-5.3-10.3-5.3C6.4 3.5.5 9.9.5 17.8s6.1 12.4 12.2 17.8c9.2 8.2 9.8 8.9 11.3 8.9s2.1-.7 11.3-8.9c6.2-5.5 12.2-10 12.2-17.8 0-7.9-5.9-14.3-13.2-14.3zm-1 29.8c-5.4 4.8-8.3 7.5-9.3 8.1-1-.7-4.6-3.9-9.3-8.1-5.5-4.9-11.2-9-11.2-15.6 0-6.2 4.6-11.3 10.2-11.3 4.1 0 6.3 2 7.9 4.2 3.6 5.1 1.2 5.1 4.8 0 1.6-2.2 3.8-4.2 7.9-4.2 5.6 0 10.2 5.1 10.2 11.3 0 6.7-5.7 10.8-11.2 15.6z"
                fill-rule="evenodd"></path>
            </svg>
            <svg aria-label="Comment" class="mr-4" fill="#262626" height="24" viewBox="0 0 48 48" width="24">
              <path clip-rule="evenodd"
                d="M47.5 46.1l-2.8-11c1.8-3.3 2.8-7.1 2.8-11.1C47.5 11 37 .5 24 .5S.5 11 .5 24 11 47.5 24 47.5c4 0 7.8-1 11.1-2.8l11 2.8c.8.2 1.6-.6 1.4-1.4zm-3-22.1c0 4-1 7-2.6 10-.2.4-.3.9-.2 1.4l2.1 8.4-8.3-2.1c-.5-.1-1-.1-1.4.2-1.8 1-5.2 2.6-10 2.6-11.4 0-20.6-9.2-20.6-20.5S12.7 3.5 24 3.5 44.5 12.7 44.5 24z"
                fill-rule="evenodd"></path>
            </svg>

          </section>
          <section class="post-comments-wrapper">
            <div class="post-likes">2 trịu likes</div>
            <div class="post-created">2 Days ago</div>
            <div class="comment">
              <textarea id="addComment" class="add-comment" type="text" placeholder="Add a comment..."></textarea>
              <button class="post-comment-btn">Post</button>
            </div>
          </section>
        </section>
      </section>
    </section>
  </section>
