  <!--Section Content-->
  <!--Tap qua tab lại đổi mk đổi in4-->
  <section class="container container-top">
    <div class="edit-wrapper">
      <div class="menus-wrapper">
        <ul class="menus">
          <li class="menu-item">
            <a href="./edit_profile.html" class="menu-link active">Edit Profile</a>
          </li>
          <li class="menu-item">
            <a href="./change_password.html" class="menu-link">Change password</a>
          </li>
        </ul>
      </div>


      <!---->
      <div class="edit-form-wrapper">
        <div class="edit-profile-section">
          <div class="edit-width">
            <img class="edit-profile-picture" src="./assets/img/img.png" />
          </div>
          <div>
            <h1 class="edit-profile-username">DacKhoa</h1>
            <span class="edit-profile-btn">Change Profile Picture</span>
          </div>
        </div>
        <form>
          <div class="edit-section">
            <div class="edit-width">
              <label for="name" class="form-label">Name</label>
            </div>
            <div>
              <input class="form-input" type="text" name="name" id="name" />
            </div>
          </div>
          <div class="edit-section">
            <div class="edit-width">
              <label for="username" class="form-label">Username</label>
            </div>
            <div>
              <input class="form-input" type="text" name="username" id="username" />
            </div>
          </div>
          <div class="edit-section">
            <div class="edit-width">
              <label for="website" class="form-label">Website</label>
            </div>
            <div>
              <input class="form-input" type="text" name="website" id="website" />
            </div>
          </div>
          <div class="edit-section">
            <div class="edit-width">
              <label for="email" class="form-label">Email</label>
            </div>
            <div>
              <input class="form-input" type="email" name="email" id="email" />
            </div>
          </div>
          <div class="edit-section">
            <div class="edit-width">
              <label for="bio" class="form-label">Bio</label>
            </div>
            <div>
              <textarea class="form-input" name="bio" id="bio" cols="2" rows="3"></textarea>
            </div>
          </div>
          <div class="edit-section">
            <div class="edit-width">
              <label for="phone" class="form-label">Phone Number</label>
            </div>
            <div>
              <input class="form-input" type="tel" name="phone" id="phone" />
            </div>
          </div>
          <div class="edit-section">
            <div class="edit-width">
              <label for="gender" class="form-label">Gender</label>
            </div>
            <div>
              <select class="form-input">
                <option value="male">Male</option>
                <option value="female">Female</option>
                <option value="other">Other</option>
              </select>
            </div>
          </div>
          <div class="edit-section">
            <div class="edit-width"></div>
            <div>
              <button class="form-btn">Submit</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </section>