<div class="container">
    <div class="main-container">
        <img id="cover-pic" src="./img/cover.jpg" alt="">
        <div class="form-container">
            <header>
                <h2>Log in</h2>
            </header>
            <form class="form" id="form-login" method="POST" action="/user" onsubmit="return validateLogin()">
                <div class="form-group">
                    <label for="username">Username</label>
                    <input name="username" class="username" id="username" placeholder="eg. alex978" type="text" required/>
                    <i class="fas fa-check-circle"></i>
                    <i class="fas fa-exclamation-circle">
                        <div class="errorInfo">Username must not begin with a digit and contain 
                            at least 6 characters including alphabet letters, numbers or _ (underscore)
                        </div>
                    </i>
                    <small>Error message</small>
                </div>
                <div class="form-group" style="margin-bottom: 0;">
                    <label for="password">Password</label>
                    <input name="password" class="password" id="password" placeholder="Password" type="password" required/>
                    <i class="fas bx-error-circle error-icon"></i>
                    <i class="fas fa-check-circle"></i>
                    <i class="fas fa-exclamation-circle"></i>
                    <small>Error message</small>
                </div>

                <div class="rem-group">
                    <input name="remember" class="rem-input" id="remember" type="checkbox" name="remember"/>
                    <label for="checkbox" class="rem-label">Remember me</label>
                </div>

                <input id="submitBtn" type="submit" value="Login" />
                <input class="hidden" name="todo" id="todo" type="text" value="login">
                <footer>
                    <div>or <a href="#"> Forgot password</a></div>
                    <div>Don't have an account? <a href="/signup"> Sign up</a></div>
                </footer>


            </form>


        </div>
    </div>
</div>


<