<link rel="stylesheet" href="./css/bootstrap.min.css" />
<link rel="stylesheet" href="./css/general.css" />
<link rel="stylesheet" href="./css/navbar.css" />
<link rel="stylesheet" href="./css/sidebar.css" />
<link rel="stylesheet" href="./css/userscontent.css" />
<link rel="stylesheet" href="./css/profile.css" />
<link rel="stylesheet" href="./css/edit.css" />

    <!--Section Content-->
    <section class="container container-top">
        <div class="edit-wrapper">
            <!--lựa chọn market-->
            <div class="menus-wrapper">
                <ul class="menus">
                    <li class="menu-item">
                        <br><br>
                        <a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>
                        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor"
                            class="bi bi-shop" viewBox="0 0 20 20">
                            <path clip-rule="evenodd"
                                d="M2.97 1.35A1 1 0 0 1 3.73 1h8.54a1 1 0 0 1 .76.35l2.609 3.044A1.5 1.5 0 0 1 16 5.37v.255a2.375 2.375 0 0 1-4.25 1.458A2.371 2.371 0 0 1 9.875 8 2.37 2.37 0 0 1 8 7.083 2.37 2.37 0 0 1 6.125 8a2.37 2.37 0 0 1-1.875-.917A2.375 2.375 0 0 1 0 5.625V5.37a1.5 1.5 0 0 1 .361-.976l2.61-3.045zm1.78 4.275a1.375 1.375 0 0 0 2.75 0 .5.5 0 0 1 1 0 1.375 1.375 0 0 0 2.75 0 .5.5 0 0 1 1 0 1.375 1.375 0 1 0 2.75 0V5.37a.5.5 0 0 0-.12-.325L12.27 2H3.73L1.12 5.045A.5.5 0 0 0 1 5.37v.255a1.375 1.375 0 0 0 2.75 0 .5.5 0 0 1 1 0zM1.5 8.5A.5.5 0 0 1 2 9v6h1v-5a1 1 0 0 1 1-1h3a1 1 0 0 1 1 1v5h6V9a.5.5 0 0 1 1 0v6h.5a.5.5 0 0 1 0 1H.5a.5.5 0 0 1 0-1H1V9a.5.5 0 0 1 .5-.5zM4 15h3v-5H4v5zm5-5a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v3a1 1 0 0 1-1 1h-2a1 1 0 0 1-1-1v-3zm3 0h-2v3h2v-3z"
                                fill-rule="evenodd" />
                        </svg>
                        <a class="edit-profile-username">MARKET</a>
                    </li>
                    <li class="menu-item">
                        <a href="./index.html" class="menu-link active">Browse all</a>
                    </li>
                    <li class="menu-item">
                        <a href="./index.html" class="menu-link">Buying</a>
                    </li>
                    <li class="menu-item">
                        <a href="./index.html" class="menu-link">Selling</a>
                    </li>
                </ul>
            </div>


            <!--mấy cái đồ để bán-->
            <div class="row justify-content-evenly">
                <!--bài đăng 1-->
                <div class="col-6">
                    <section class="container container-top">
                        <section class="content-container">

                            <!--CONTENTS-->
                            <div class="posts">
                                <!--CONTENT CARD-->

                                <article class="post-card">

                                    <!--Tên-->
                                    <header class="post-header">
                                        <div class="post-image-wrapper">
                                            <img class="post-image" src="./assets/img/img.png" />
                                        </div>
                                        <div class="post-owner-wrapper">
                                            <a href="#" class="post-owner-name">Đắc Khoa</a>
                                        </div>
                                        <svg aria-label="More options" class="_8-yf5 " fill="#262626" height="16"
                                            viewBox="0 0 48 48" width="16">
                                            <circle clip-rule="evenodd" cx="8" cy="24" fill-rule="evenodd" r="4.5">
                                            </circle>
                                            <circle clip-rule="evenodd" cx="24" cy="24" fill-rule="evenodd" r="4.5">
                                            </circle>
                                            <circle clip-rule="evenodd" cx="40" cy="24" fill-rule="evenodd" r="4.5">
                                            </circle>
                                        </svg>
                                    </header>


                                    <!--Bài đăng-->
                                    <section class="post-content-wrapper">
                                        <img class="post-content" src="./assets/img/cat2.png" />
                                    </section>
                                    <!--tim-->
                                    <section class="post-options-wrapper">
                                        <svg aria-label="Activity Feed" class="mr-4" fill="#262626" height="24"
                                            viewBox="0 0 48 48" width="24">
                                            <path clip-rule="evenodd"
                                                d="M34.3 3.5C27.2 3.5 24 8.8 24 8.8s-3.2-5.3-10.3-5.3C6.4 3.5.5 9.9.5 17.8s6.1 12.4 12.2 17.8c9.2 8.2 9.8 8.9 11.3 8.9s2.1-.7 11.3-8.9c6.2-5.5 12.2-10 12.2-17.8 0-7.9-5.9-14.3-13.2-14.3zm-1 29.8c-5.4 4.8-8.3 7.5-9.3 8.1-1-.7-4.6-3.9-9.3-8.1-5.5-4.9-11.2-9-11.2-15.6 0-6.2 4.6-11.3 10.2-11.3 4.1 0 6.3 2 7.9 4.2 3.6 5.1 1.2 5.1 4.8 0 1.6-2.2 3.8-4.2 7.9-4.2 5.6 0 10.2 5.1 10.2 11.3 0 6.7-5.7 10.8-11.2 15.6z"
                                                fill-rule="evenodd"></path>
                                        </svg>
                                    </section>

                                    <!--Xem-->
                                    <section class="post-comments-wrapper">
                                        <div class="post-likes">1.000.000-5.000.000</div>
                                        <div class="post-comment">
                                            <span class="post-comment-author"></span> Ăn hại quá nên bán
                                        </div>
                                        <br>
                                        <a href="./check_post.html" class="view-all-comments">DETAIL</a>
                                    </section>
                                </article>
                            </div>
                        </section>
                    </section>
                </div>



                <!--bài đăng 2-->
                <div class="col-6">
                    <section class="container container-top">
                        <section class="content-container">

                            <!--CONTENTS-->
                            <div class="posts">
                                <!--CONTENT CARD-->

                                <article class="post-card">

                                    <!--Tên-->
                                    <header class="post-header">
                                        <div class="post-image-wrapper">
                                            <img class="post-image" src="./assets/img/img.png" />
                                        </div>
                                        <div class="post-owner-wrapper">
                                            <a href="#" class="post-owner-name">Đắc Khoa</a>
                                        </div>
                                        <svg aria-label="More options" class="_8-yf5 " fill="#262626" height="16"
                                            viewBox="0 0 48 48" width="16">
                                            <circle clip-rule="evenodd" cx="8" cy="24" fill-rule="evenodd" r="4.5">
                                            </circle>
                                            <circle clip-rule="evenodd" cx="24" cy="24" fill-rule="evenodd" r="4.5">
                                            </circle>
                                            <circle clip-rule="evenodd" cx="40" cy="24" fill-rule="evenodd" r="4.5">
                                            </circle>
                                        </svg>
                                    </header>


                                    <!--Bài đăng-->
                                    <section class="post-content-wrapper">
                                        <img class="post-content" src="./assets/img/cat1.png" />
                                    </section>
                                    <!--tim-->
                                    <section class="post-options-wrapper">
                                        <svg aria-label="Activity Feed" class="mr-4" fill="#262626" height="24"
                                            viewBox="0 0 48 48" width="24">
                                            <path clip-rule="evenodd"
                                                d="M34.3 3.5C27.2 3.5 24 8.8 24 8.8s-3.2-5.3-10.3-5.3C6.4 3.5.5 9.9.5 17.8s6.1 12.4 12.2 17.8c9.2 8.2 9.8 8.9 11.3 8.9s2.1-.7 11.3-8.9c6.2-5.5 12.2-10 12.2-17.8 0-7.9-5.9-14.3-13.2-14.3zm-1 29.8c-5.4 4.8-8.3 7.5-9.3 8.1-1-.7-4.6-3.9-9.3-8.1-5.5-4.9-11.2-9-11.2-15.6 0-6.2 4.6-11.3 10.2-11.3 4.1 0 6.3 2 7.9 4.2 3.6 5.1 1.2 5.1 4.8 0 1.6-2.2 3.8-4.2 7.9-4.2 5.6 0 10.2 5.1 10.2 11.3 0 6.7-5.7 10.8-11.2 15.6z"
                                                fill-rule="evenodd"></path>
                                        </svg>
                                    </section>

                                    <!--Xem -->
                                    <section class="post-comments-wrapper">
                                        <div class="post-likes">2.000.000-7.000.000</div>
                                        <div class="post-comment">
                                            <span class="post-comment-author"></span> Scroll theo éo được ??
                                        </div>
                                        <br>
                                        <a href="./check_post.html" class="view-all-comments">DETAIL</a>
                                    </section>
                                </article>
                            </div>
                        </section>
                    </section>
                </div>
                <!---->
            </div>
        </div>
    </section>