<link rel="stylesheet" href="./css/bootstrap.min.css" />
<link rel="stylesheet" href="./css/general.css" />
<link rel="stylesheet" href="./css/navbar.css" />
<link rel="stylesheet" href="./css/userscontent.css" />
<link rel="stylesheet" href="./css/comments.css" />
<link rel="stylesheet" href="./css/post.css">
<link rel="stylesheet" href="https://unicons.iconscout.com/release/v3.0.6/css/line.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />

    <!--Section Content-->
    <section class="container container-top">
        <div class="row">

            <div class="col-7">
                <section class="comments-section">
                    <!--hinh anh bai viet-->
                    <section class="comments-content-wrapper">
                        <img class="comments-content" src="./assets/img/cat1.png" />
                    </section>
                </section>
            </div>

            <div class="col-5">
                <div class="wrapper">
                    <div class="input-box">
                        <div class="bookbook-area">
                            <span class="placeholder">Write something ?</span>
                            <div class="input editable" contenteditable="true" spellcheck="false"></div>
                            <div class="input readonly" contenteditable="true" spellcheck="false"></div>
                        </div>
                        <div class="privacy">
                            <i class="fas fa-globe-asia"></i>
                            <span>Everyone can reply you</span>
                        </div>
                    </div>
                    <div class="bottom">
                        <ul class="icons">
                            <li><i class="far fa-file-image"></i></li>
                            <li><i class="fas fa-map-marker-alt"></i></li>
                            <li><i class="far fa-grin"></i></li>
                        </ul>
                        <div class="content">
                            <span class="counter"></span>
                            <button>Post</button>
                        </div>
                    </div>
                </div>
            </div>



        </div>
    </section>