<link rel="stylesheet" href="./css/bootstrap.min.css" />
<link rel="stylesheet" href="./css/general.css" />
<link rel="stylesheet" href="./css/sprite.css" />
<link rel="stylesheet" href="./css/navbar.css" />
<link rel="stylesheet" href="./css/userscontent.css" />
<link rel="stylesheet" href="./css/comments.css" />
<link rel="stylesheet" href="./css/profile.css" />


  <nav id="nav" class="nav">
    <div class="container d-flex align-items-center justify-content-between">
      <a href="./index.html" class="logo-link">
        <div class="divider"></div>
        <img alt="BOOKBOOK" class="nav_image" src="./assets/img/BOOKBOOK.png"/>
      </a>
      <input class="search" autocapitalize="none" type="text" placeholder="Search" />



      <div>

        <!--market -->

  <!--Section Content-->
  <section class="container container-top">
    <header class="profile-wrapper">
      <div class="profile__profile-image-wrapper">
        <img class="profile__profile-image" src="./assets/img/img.png" />
      </div>

      <div class="profile__profile-details-wrapper">
        <div class="profile__profile-details">
          <h1 class="profile__profile-username">Trần Đắc Khoa</h1>
          <a href="./edit_profile.html" class="profile__profile-edit">Edit Profile</a>
          <span class="instaIcons spriteSettings"></span>
        </div>
        <div class="profile__profile-follower-wrapper">
          <span class="profile__profile-follow"><span class="profile-count">4</span> posts</span>
          <a class="profile__profile-follow" href="#"><span class="profile-count">4</span> followers</a>
          <a class="profile__profile-follow" href="#"><span class="profile-count">4</span> following</a>
        </div>
        <div class="profile__profile-desc-wrapper">
          <h1 class="profile__profile-name">NOOB-LEADER</h1>
          <span class="profile__profile-desc">Hope he dont mess up everything</span>
          <a class="profile__profile-url" href="https://www.facebook.com/noicesmoker0127" target="_blank">https://www.facebook.com/noicesmoker0127</a>
        </div>
      </div>
    </header>
  </section>


  <!--Section Content-->
  <div class="row justify-content-evenly">
    <!--hinh 1-->
    <div class="col-4">
      <section class="container container-top">
        <section class="content-container">

          <!--CONTENTS-->
          <div class="posts">
            <!--CONTENT CARD-->

            <article class="post-card">
              <!--Bài đăng-->
              <section class="post-content-wrapper">
                <a href="./check_post.html"><img class="post-content" src="./assets/img/cat2.png" /></a>
              </section>
            </article>
          </div>
    </div>

    <!--hinh 2-->
    <div class="col-4">
      <section class="container container-top">
        <section class="content-container">

          <!--CONTENTS-->
          <div class="posts">
            <!--CONTENT CARD-->

            <article class="post-card">
              <!--Bài đăng-->
              <section class="post-content-wrapper">
                <a href="./check_post.html"><img class="post-content" src="./assets/img/img.png" /></a>
              </section>
            </article>
          </div>
    </div>


    <!--hinh 3-->
    <div class=" col-4">
      <section class="container container-top">
        <section class="content-container">

          <!--CONTENTS-->
          <div class="posts">
            <!--CONTENT CARD-->

            <article class="post-card">
              <!--Bài đăng-->
              <section class="post-content-wrapper">
                <a href="./check_post.html"><img class="post-content" src="./assets/img/cat1.png" /></a>
              </section>
            </article>
          </div>
    </div>
  </div>
  </section>
  </section>