<div class="container">
    <div class="main-container">
        <img id="cover-pic" src="./img/cover.jpg" alt="">
        <div class="signup-container form-container">
            <header>
                <h2>Register</h2>
            </header>
            <form id="form-signup" class="form" method="post" action="/user" onsubmit="return validateSignup()">

                <div class="form-group">
                    <label for="fullname">Full name </label>
                    <input name="fullname" class="fullname" id="fullname" placeholder="eg. Alex Wu" type="text" required/>
                    <i class="fas fa-check-circle"></i>
                    <i class="fas fa-exclamation-circle">
                        <div class="errorInfo">Requiring to capitalize the first letter of each word.</div>
                    </i>
                    <small>Error message</small>
                </div>
                <div class="form-group">
                    <label for="username">Username</label>
                    <input name="username" class="username" id="username" placeholder="eg. alex978" type="text" required/>
                    <i class="fas fa-check-circle"></i>
                    <i class="fas fa-exclamation-circle">
                        <div class="errorInfo">Username must not begin with a digit and contain 
                            at least 6 characters including alphabet letters, numbers or _ (underscore)
                        </div>
                    </i>
                    <small>Error message</small>
                </div>

                <div class="form-group">
                    <label for="email">Email</label>
                    <input name="email" class="email" id="email" placeholder="eg. alex@example.com" type="email" required/>
                    <i class="fas fa-check-circle"></i>
                    <i class="fas fa-exclamation-circle">
                        <div class="errorInfo">A valid email following regular-mail-format.</div>
                    </i>
                    <small>Error message</small>
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input name="password" class="password" id="password" placeholder="Password" type="password" required/>
                    <i class="fas bx-error-circle error-icon"></i>
                    <i class="fas fa-check-circle"></i>
                    <i class="fas fa-exclamation-circle"></i>
                    <small>Error message</small>
                </div>
                <div class="form-group">
                    <label for="dob">Date of birth</label>
                    <input name="dob" id="dob" class="dob" type="date" required/>
                    <i class="fas bx-error-circle error-icon"></i>
                    <i class="fas fa-check-circle"></i>
                    <i class="fas fa-exclamation-circle"></i>
                    <small>Error message</small>
                </div>
                <div class="form-group" id="sex-group">
                    <label for="sex">Sex</label>
                    <div class="radio-input" id="input-sex">
                        <input name="sex" id="male" type="radio" value="male" required>
                        <label class="genner" for="male">Male</label>
                        <input name="sex" id="female" type="radio" value="female">
                        <label class="genner" for="female">Female</label>
                    </div>
                </div>
                <div class="form-group">
                    <label for="phone">Phone number</label>
                    <input name="phone" class="phone" id="phone" placeholder="eg. 0999123123" type="tel" maxlength="10" required/>
                    <i class=" fas fa-check-circle"></i>
                    <i class="fas fa-exclamation-circle">
                        <div class="errorInfo">10 digits begun with number '0'</div>
                    </i>
                    <small>Error message</small>
                </div>
                <div class="form-group">
                    <label for="secretkey">What city were you born in?</label>
                    <input name="secretkey" id="secretkey" name="secretkey" type="text" placeholder="eg. Ho Chi Minh" required/>
                    <i class="fas fa-check-circle"></i>
                </div>
                <div id="signup-btn">
                    <input type="submit" value="Sign Up" id="signup-btn"/>
                    <footer>
                        <div>Already have an account? <a href="/login">Log in</a></div>
                    </footer>
                </div>

                <input class="hidden" name="todo" id="todo" type="text" value="signup">
            </form>
        </div>
    </div>
</div>
