:root {
  --light-orange: rgb(255, 158, 29);
  --light-blue: rgb(35, 135, 241);
  --light-gray: rgb(170, 170, 170);
  --dark-orange: rgb(255, 117, 47);
  --white: white;
}

html {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  box-sizing: border-box;
}

.base-layout {
  background-repeat: no-repeat;
  background-color: rgb(244, 243, 244);
  background-attachment: fixed;
}
.base-layout::after {
  position: fixed;
  z-index: 1;
  content: "";
  width: 150px;
  height: 150px;
  background-color: var(--light-orange);
  bottom: 5%;
  left: 0;
  filter: blur(100px);
}
.base-layout::before {
  position: fixed;
  z-index: 1;
  content: "";
  width: 150px;
  height: 150px;
  background-color: var(--light-orange);
  top: 10%;
  right: 5%;
  transform: translateY(-50%);
  filter: blur(100px);
}

.header {
  background-color: var(--white);
  z-index: 10;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.header-container {
  max-width: 1200px;
  margin: 0 auto;
}
.header-container i {
  font-size: 20px;
}

.header-left {
  max-width: 350px;
}
.header-left .left-logo {
  max-width: 100px;
  max-height: 100px;
  display: flex;
}
.header-left .left-logo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.header-left .left-logo span {
  position: absolute;
  letter-spacing: 5px;
  bottom: 10%;
  transform: translate(-15%, 20%);
}

.header-center {
  max-width: 400px;
}
.header-center ul {
  list-style-type: none;
}
.header-center ul li a {
  color: black;
  text-decoration: none;
}

.header-right .right-user {
  width: 60px;
  height: 60px;
  border-radius: 100rem;
  overflow: hidden;
}
.header-right .right-user img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.content {
  margin: 110px 10px 0 10px;
  max-width: 1200px;
  z-index: 2;
}

.content-left {
  width: 28%;
}

.left-child {
  position: fixed;
  overflow: auto;
  padding-bottom: 20px;
  max-width: 25%;
  max-height: 600px;
}
.left-child::-webkit-scrollbar {
  display: none;
  width: 7px;
}

.card .bgr-image {
  height: 300px;
  width: 100%;
  background-image: linear-gradient(
    0deg,
    rgb(8, 174, 234) 0%,
    rgb(42, 245, 152) 100%
  );
}
.card .bgr-image div {
  width: 100px;
  height: 100px;
  border-radius: 100rem;
  overflow: hidden;
}
.card .bgr-image div img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card-body span {
  text-align: center;
}

.users-other .user-box {
  border-bottom: 1px var(--light-gray) solid;
}
.users-other .user-box .box-image {
  width: 50px;
  height: 50px;
  border-radius: 100rem;
  overflow: hidden;
}
.users-other .user-box .box-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.users-other .user-box .box-name {
  flex: 1;
  align-items: flex-start;
  justify-content: flex-start;
}
.users-other .user-box:last-child {
  border-bottom: none;
}

.content-right {
  width: 72%;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  padding: 10px;
  border-radius: 10px;
  background-color: var(--white);
}

.image-list {
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.images img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 6px;
}

@media (max-width: 1200px) {
  .left-child {
    max-width: 25%;
  }
}
@media (min-height: 750px) {
  .left-child {
    max-height: none;
  }
}

/*# sourceMappingURL=styleIndex.css.map */
